# Docker
PROJECT_SLUG=php-start
NGINX_DOCKER_IMAGE=nginx:alpine
NGINX_PORT=8080
POSTGRES_DOCKER_IMAGE=postgres:17

# Application
APP_ENV=development
APP_DEBUG=false

# Database
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=user
POSTGRES_PASSWORD=password
